body {
    background-image: url(https://images.app.goo.gl/ynbXQYBsb4Zw2yEC6)
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
    background-color: #000;
    color: black;
    text-align: center;
    top: 0;
}
#principal {
	width: 900px; /*Definição de largura padrão*/
}

#menu {/*Formatação do menu*/
	background: #9400D3;
	/*border: 1px solid red; Borda sólida na div*/
	padding: 18px; display: flex /*Espaçamento interna div*/
}

#conteudo {
	background: #E6E6FA;
	padding: 10px;
}

#empresa de modelo {
	background: #E6E6FA;
        padding: 10px;
}

#{imagrm,revista,marca {
	background: #D8BFD8;
	padding: 10px;
}		
	
#desfile fotografia {
	background: #EE82EE	;
	padding: 10px;
}	
	
#marca de produtos {
	background: #9932CC;
	padding: 10px;
}
#passarela {
	background: #663399;
	padding: 10px;
}


#rodape {
	text-align: center;
	color: #FFFFFF;
}

.img-campanha {
	border: 10px solid #868A08;
}

a { /*Formatação dos links*/
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

h1 {
	color: #828271;
	font-size: 1.2em;
}
h3 {
	color: #828271;
	font-size: 1.2em;
	}
h4 {
	color: #828271;
	font-size: 1.2em;
}
