body {
    background-image: url('https://static.wikia.nocookie.net/harrypotter/images/3/39/Cedric-and-harry-in-the-grounds-1050x0-c-default.jpg/revision/latest?cb=20210522204854&path-prefix=pt-br');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
    background-color: #000;
    color: black;
    text-align: center;
    top: 0;
}
#principal {
	width: 900px; /*Definição de largura padrão*/
}

#menu {/*Formatação do menu*/
	background: #c5c5c5b2;
	/*border: 1px solid red; Borda sólida na div*/
	padding: 18px; display: flex /*Espaçamento interna div*/
}

#conteudo {
	background: #c5c5b2;
	padding: 10px;
}

}
#rodape {
	text-align: center;
	color: #FFFFFF;
}

.img-campanha {
	border: 10px solid #868A08;
}

a { /*Formatação dos links*/
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

h1 {
	color: #828271;
	font-size: 1.2em;
}
h3 {
	color: #828271;
	font-size: 1.2em;
	}
h4 {
	color: #828271;
	font-size: 1.2em;
}
